doctype html
html(lang="ru")
 head
  meta(charset="utf-8")
  title TSEKH
 body
   nav
    div
     img.logo-img
     ul.nav
       li
        a Студия
       li
        a Горячий ЦЕХ
       li
        a Проекты
       li
        a Тариф
       li
        a Блог
       li
        a Работа у нас
   main
    section.slogan
     div
      h1 Простая разработка
      p Фронтенд и бэкенд разработка корпоративных порталов и интернет-каталогов. Простые интеграции по приемлемой стоимости.
      button Заказать расчет проекта
    section
     div.left-block
      h2 Интернет -- отличная площадка для развития малого бизнеса
      p Но создать достойное онлайн-представительство с ограниченным бюджетом непросто
      img(src="", alt="")
     div.right-block
      ul.terms
       li.heading
        p Конструктора недостаточно
       li.description
        p Вам нужен индивидуальный сайт или каталог. Базовых возможностей конструктора сайтов недостаточно: вы хотите индивидуальную вёрстку, анимацию, функционал.
       li.heading
        p Небольшой объём работ
       li.description
        p Вам не нужна постоянная поддержка или масштабная разработка. Крупным разработчикам такой заказ неинтересен.
       li.heading
        p Дёшево -- значит "некачественно"
       li.description
        p У вас уже был опыт работы с «недорогими разработчиками», и результат вас не устроил. Сайт работает со сбоями, информация отображается некорректно.
       li.heading
        p Бюджет ограничен
       li.description
        p Ваш бюджет на корпоративный портал или каталог меньше, чем хотелось бы. Вы не готовы платить по прайсу крупных разработчиков.
    div
     p TSEKH
     p Доступная разработка TSEKH.design – выход для малого бизнеса, который готов развиваться.
    section.about
     h3 Что мы делаем в рамках доступной разработки?
     div
      ul
       img
       li
        p Корпоративные порталы
        p Многостраничные сайты с комплексной информацией о компании.
        p История развития, направления деятельности, актуальные офферы, новости, бренды и типы товаров/услуг в каталоге и т. д.
        p Удобная CMS, чтобы вы могли самостоятельно добавлять и корректировать информацию, создавать новые типовые страницы и удалять неактуальные.
       img(src="", alt="")
       li
        p Каталоги товаров
        p С фотографиями, описаниями, техническими характеристиками и ценами на каждый товар.
        p Единственное отличие от интернет-магазина — товары нельзя купить на сайте напрямую.
        p Интеграция с CRM для управления каталогом и отдельными товарами.
       img(src="", alt="")
      //-  li table!
        p Простые интеграции
        p Google Аналитика
        p Яндекс.Метрика
        p JivoSite и аналогичные сервисы
        p Почтовые сервисы
        p Интеграции с облачными CRM (например, amoCRM)
        p Различные маркетинговые сервисы.
        p Не реализуем интеграции с системами САП, 1С и т.д.
    div
     p
