doctype html
html(lang="ru")
  head
   nav
    div
     img.logo-img
     ul.nav
       li
        a Студия
       li
        a Горячий ЦЕХ
       li
        a Проекты
       li
        a Тариф
       li
        a Блог
       li
        a Работа у нас
  body
   main
